/* --------------------------------------------------- */
/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Nova+Flat&family=Rokkitt&family=Space+Grotesk:wght@500&family=Staatliches&display=swap');

/* Color Scheme:
greay-pruple: #ACADBC
light purple: #9B9ECE
purple: #6665DD
dark purple: #473BF0
black: #000500
*/

/* --------------------------------------------------- */
body{
  max-width: 1024px;
  margin: 0 auto;
  border: 3px solid;
  background-color: #000500;
}
/* Header */
.navbar{
  
  background-color: #000500;
  border-bottom: 3px solid #473BF0;
}
.title{
  font-family: 'Space Grotesk', sans-serif;
  font-size: 22px;
  text-decoration: none;
  color: #ACADBC;
  line-height: 1;
}
.brandStatement {
  font-size: 12px;
  font-family: 'Space Grotesk', sans-serif; 
}
.navbar-toggler{
  background-color: #473BF0;
  }

.nav-link{
    color:  #ACADBC;
    display: block;
    font-family: 'Space Grotesk', sans-serif; 
  }
/* Main */
section.main{
  /* margin: 5% 0px; */
  padding: 20% 5% 10% 5%;
  
}
.section-title{
  font-family: 'Nova Flat', cursive;
}
.text{
  font-family: 'Rokkitt', serif;
}
#about-me{
  background-color: #9B9ECE;
  color:  #000500;

}

section{
  color: #ACADBC;
}



/* --------------------------------------------------- */
/* Project Card Styling */
.project-cards{
  max-width: 1024px;;
  margin: 0 auto;
  display: inline-block;
}
.card{
  margin: 5% 0;
  background-color: #9B9ECE;
  font-family: 'Rokkitt', serif;
  border: 2px solid #9B9ECE;
  color: black;

}
.card-img-top{
  height: 50vh;
  object-fit: cover;
}
.card-links{
  font-size: 1rem;
  padding: .5rem .75rem;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  border: 3px solid black;
  border-radius: 5px;
  text-decoration: none;
  color: black;
}


/* --------------------------------------------------- */
/* Styling for Skills Icons */
.fab{
font-size: 3em;

}
.brand-style{
  font-family: 'Staatliches', cursive;
  text-transform: uppercase;
  font-weight: 200; 
}
.fa-html5{
  color: orangered;
}
.fa-css3-alt{
  color: #1D91FF;
}
.fa-js-square{
  color: #FCDC03;
}
.fa-bootstrap{
  color: #7D13F7;
}
/* --------------------------------------------------- */
/* Footer */
#contact{
  background-color: #000500;
}
#contact-form{
  background-color: #000500;  
  color: #ACADBC;
  padding: 15px;
}

.contact-icon{
  color: #473BF0;
  text-decoration: none;
}
.contact-me{
  color: #ACADBC;
}

/* MEDIA QUERIES */
@media (min-width:576px)  { 
  /* Header */
  .title{
    font-size: 4em;
  }
  .brandStatement{
    font-size: .5em;
  }
  
  /* Sections/Main */
  .section-title{
    font-size: 3em;
  }
  p {
    font-size: 2em;
  }
  /* Project Cards */
  .card {
    width: 50vw;
  }
  
  .card-title{
    font-size: 2em
  }
  .card-text{
    font-size: 1em;
  }
  
}
@media (min-width:992px)
{
  .project-cards{
    display: flex;
    justify-content: space-around;
     
  }
  .card {
    width: 30vw;
    height: 60vh
  }
  .card-img-top{
    object-fit: cover;
    height: 32vh;
  }
  .card-title{
    font-size: 2em;
  }
  .card-text{
    font-size: 1em
  }
  .card-links{
    padding: .25em .5em;
    
  }

}